################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plugins/Deploy/Debug/netstandard2.0
/Deploy/Debug
/.vs
/CardGames.Common/obj
/CardGames.Common.Tests/obj
/GUI/CardGames.Core/obj
/Plugins/CardGames.War/obj
